{include file="index/head"/}

  <style type="text/css">
    .tl-price-input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px 0;
    background: #F4F4F7;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s}

    .tl-price-input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }
  </style>

  <div class="content content-nav-base shopcart-content">
    <div class="banner-bg w1200">
      <h3>美食商城</h3>
      <p>叠加折扣</p>
    </div>
    <div class="cart w1200">
      <div class="cart-table-th">
        <div class="th th-item">
          <div class="th-inner">
            商品
          </div>
        </div>
        <div class="th th-price">
          <div class="th-inner">
            原价
          </div>
        </div>
        <div class="th th-amount">
          <div class="th-inner">
            第一件折扣
          </div>
        </div>
        <div class="th th-sum">
          <div class="th-inner">
             第二件折扣
          </div>
        </div>
        <div class="th th-op">
          <div class="th-inner">
            第三件折扣
          </div>
        </div>  

      <div class="th th-op">
          <div class="th-inner">
            操作
          </div>
        </div> 

      </div>
      <div class="OrderList" id="goodslist">
        
       {volist name="goodsList" id="goodsline"}
        <div class="order-content"><!-- 每一个的id为list-cont1  -->
          <ul class="item-content layui-clear">
            <li class="th th-chk">
              <div class="select-all">

              </div>
            </li>
             <li class="th th-item">
              <div class="item-cont">
                <a href="javascript:;"><img src={$goodsline.goodsname|getphotourl} alt=""></a>
                <div class="text">
                  <div class="title" id='gsname{$time}'>{$goodsline.goodsname}</div>
                </div>
              </div>

            </li> 
            <li class="th th-price" style="margin-left: -115px">
              <span class="th-su" id="gsprice{$time}">{$goodsline.price}</span>
            </li>
          
           <li class="th th-price">
              <span class="th-su" id="disone{$time}">
               <div style="color: black">{$goodsline.dcount_one}</div>
               &nbsp;
                <div style="color: red;">{$goodsline.price*$goodsline.dcount_one}<div>
              </span>
            </li>

            <li class="th th-price">
              <span class="th-su" id="distwo{$time}">
                <div style="color: black">{$goodsline.dcount_two}</div>&nbsp;
                 <div style="color: red;">{$goodsline.price*$goodsline.dcount_two}</div>
              </span>
            </li>

            <li class="th th-price" style="margin-left: -50px">
              <span class="th-su" id="disthree{$time}">
                <div style="color: black">{$goodsline.dcount_three}</div>&nbsp;
                <div style="color: red;">{$goodsline.price*$goodsline.dcount_three}</div>
              </span>
            </li>
            
            <li class="th th-op" style="margin-left: -50px">
             <a>
              <span id='change{$time++}'>管理</span> </a>
            </li>
          </ul>
        </div>{/volist}

      </div>

<div id="test" style="display: none;">
<form>
<li style="list-style: none;width: 242px;height: 38px;float: left;margin:20px 20px 10px 20px"><input type="number" name="one" class="tl-price-input" placeholder="第一件折扣" id="one" ></li>

<li style="list-style: none;width: 242px;height: 38px;float: left;margin:0px 20px 10px 20px"><input type="number" name="two" class="tl-price-input" placeholder="第二件折扣" id="two" ></li>

<li style="list-style: none;width: 242px;height: 38px;float: left;margin:0px 20px 20px 20px"><input type="number" name="three" class="tl-price-input" placeholder="第三件折扣" id="three" ></li>

</form>
</div>

      <div class="FloatBarHolder layui-clear">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
            </div>
          </div>
        </div>
        <div class="th batch-deletion">
        </div>
        <div class="th Settlement">
          <button class="layui-btn" id='addcount'>增加</button>
        </div>
        <div class="th total">
         <span></span>
        </div> 
      </div>
    </div>
  </div>

<script>
  
  

  $(document).ready(function(){
    

    ws = new WebSocket("ws://127.0.0.1:2346");
    ws.onopen = function() {
        console.log("连接成功");
        var sendId="Id#0";//代表管理员
        ws.send(sendId);
    };

    $("#addcount").click(function(){
    layer.prompt({
    formType: 3,
    value: '',
    title: '请输入添加的商品名称'
 }, function(value,index){
    $.post("addwind",{goodsname:value},
      function(data){
        if(data=='1')
        {
          layer.msg('添加完成！');

          var sendData="disAll#"+value;
          ws.send(sendData);
          
          layer.close(index);
          setTimeout(function(){window.location.reload();
},2000); 
        }
        else if(data=='0')
        {
          layer.msg('不存在此商品！');
          return;
        }
        else if(data=='2')
        {
          layer.msg('已添加此商品！');
          return;
        }})
    })
})

    for(var i=1;i<{$time};i++)
    {
      var name='#change'+i;
      $(name).click({id:i},function(s){

      var goodsname=$('#gsname'+s.data.id).text();

    layer.open({
    type: 1,
    title: '请输入叠加折扣信息',   //标题
    area: ['300px', '280px'],   //宽高
    shade: 0.4,   //遮罩透明度
    content: $("#test"),//支持获取DOM元素
    btn: ['确定', '取消'], //按钮组
    scrollbar: false ,
    yes: function(index){
        var one=$('#one').val();
        var two=$('#two').val();
        var three=$('#three').val();

        if(!(parseFloat(one)>0&&parseFloat(one)<=1&&parseFloat(two)>0&&parseFloat(two)<=1&&parseFloat(three)>0&&parseFloat(three)<=1))
        {
          layer.msg('请输入小数或1！')
          return;
        }
        
        $.post('solvedisadd',{one:one,two:two,three:three,goodsname:goodsname},function(data){
          if(data=='1')
          {
            layer.msg('修改完成！');
            parent.location.reload();
          }
          else if(data=='2')
          {
            layer.msg('已将此商品移出！');
            parent.location.reload();
          }
        })
        }
        });

    })
    }

  
  })

</script>

{include file="index/footer"/}
