{volist name="goodslist" id="goodsline"}
        <div class="order-content"><!-- 每一个的id为list-cont1  -->
          <ul class="item-content layui-clear">
            <li class="th th-chk">
              <div class="select-all">
              </div>
            </li>
            <li class="th th-item">
              <div class="item-cont">
                <a href="javascript:;"><img src={$goodsline.goodsname|getphotourl} alt=""></a>
                <div class="text">
                  <div class="title" id='carname'>{$goodsline.goodsname}</div>
                </div>
              </div>
            </li>
            <li class="th th-price">
              <span class="th-su" id="one">{$goodsline.buyingtime}</span> <!--单价-->
            </li>
           <li class="th th-amount">
             <div class="box-btn layui-clear" id="list-cont">
           &nbsp;&nbsp;&nbsp;&nbsp;
             </div>
           </li> 
          </ul>
        </div>
{/volist}